{% extends 'articles/base.html' %}
{% load static %}
{% block content %}
    <!-- Main Content-->
        <main class="mb-4" style="margin-top: 83px;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>This website is created for Sporty person and for now it contains articles related to sports i.e Cricket,Football,Tennis,
                        WWE and Basketball</p>
                        <p>Logged In user can can give its valueable comment in the commet section and even like the articles</p>
                        <p>In future SportsBuzz will have a section for live scores of
                        matches</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}
